doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title 图书管理系统
    link(href='/web/css/bootstrap.min.css', rel='stylesheet')
    link(href='/web/css/web.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/manage/index') 图书管理系统
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                span.glyphicon.glyphicon-bell(aria-hidden='true')
                  span.badge 4
              ul.dropdown-menu
                li
            li
              a(href='#') 关于
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Dropdown 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') 退出          
          form.navbar-form.navbar-right(method="get" action="/system/search")
            select.form-control(name='searchClass')
              option 管理员组
              option 管理员
              option 图书清单
              option 借出清单
              option 系统日志
              option 用户管理
            .input-group
              input.form-control(type='text', name='keyWord', placeholder='Search for...')
              span.input-group-btn
                button.btn.btn-default(type='submit')
                  span.glyphicon.glyphicon-search(aria-hidden='true')
                  
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li#index
              a(href="/system/index")
                span.glyphicon.glyphicon-home(aria-hidden='true')  主页
            li#adminGroup
              a(href="/admin/adminGroup")
                span.glyphicon.glyphicon-tags(aria-hidden='true')  管理员组
            li#adminUser
              a(href="/admin/adminUser")
                span.glyphicon.glyphicon-tag(aria-hidden='true')  管理员
            li#bookList
              a(href="/list/bookList")
                span.glyphicon.glyphicon-book(aria-hidden='true')  图书清单
            li#LendList
              a(href="/list/lendList")
                span.glyphicon.glyphicon-th-list(aria-hidden='true')  借出清单
            li#log
              a(href="/system/log")
                span.glyphicon.glyphicon-list-alt(aria-hidden='true')  系统日志
            li#user
              a(href="/system/user")
                span.glyphicon.glyphicon-user(aria-hidden='true')  用户管理
              
        block content

    script(src='/web/js/jquery.min.js')
    script(src='/web/js/bootstrap.min.js')
      
    block footer
