extends ../layout/web

prepend content
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h3.page-header 管理员组
    .panel.panel-default
      a.btn.btn-primary(data-toggle='modal', data-target='#adminGroupSettings')
        span.glyphicon.glyphicon-plus(aria-hidden='true') 添加管理员组
    .panel.panel-default
      table.table.table-hover.table-condensed
        thead
          tr
            th 组名称
            th 权限范围
            th 创建日期
            th 操作
        tbody
          each adminGroup in adminGroupList 
            tr
              td #{adminGroup.groupname}
              td 
              td #{adminGroup.date}
              td
                a.btn.btn-primary.btn-xs(admingroup='#{[adminGroup.groupname]}')
                  span.glyphicon.glyphicon-edit(aria-hidden='true', data-toggle='modal', data-target='#adminGroupSettings') 编辑
                a.btn.btn-danger.btn-xs(href='/admin/#{adminGroup._id}/removeAdminGroup')
                  span.glyphicon.glyphicon-trash(aria-hidden='true') 删除
      .panel-footer
        form.form-inline
          | 每页 
          select.form-control
            option 10
            option 20
            option 30
          |  条，共 0 条记录
          .pull-right
            a.btn.btn-default(href='#') 上一页
            |  第 
            select.form-control
              option 1
              option 2
              option 3
            |  页 
            a.btn.btn-default(href='#') 下一页

      #adminGroupSettings.modal.fade
        .modal-dialog
          .modal-content
            form(role='form' method="post" action="/admin/changeAdminGroup") 
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4.modal-title 添加管理员组(可修改)
              .modal-body
                  label(for='groupname') 管理员组名
                  input#groupname.form-control(type='text', name='groupname')
                  .checkbox
                    label
                      input#superadmin(type='checkbox')
                      |  超级管理员

              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') 取消
                button.btn.btn-primary(type='submit') 确定

append footer
  script(src='/web/js/navActive.js')
  script.
    $('#adminGroupSettings').modal({backdrop: 'static', keyboard: false});
    $('#adminGroupSettings').modal('hide');
    $('tr a.btn.btn-primary').click(function(){
      $('#groupname').val($(this).attr('admingroup').split(",")[0]);
    });
    $('.modal-header button.close,.modal-footer button.btn.btn-default').click(function(){
      $('#groupname').val('');
    });
